<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using ParcelsCenter.Models;
    
    <h1>Your Packages:</h1>
    <ul>
      @foreach (Parcel parcel in Model)
      {
        <li>@parcel.Height " * @parcel.Width " * @parcel.Length "</li>
        <li>@parcel.Weight lbs</li>
        <p>@parcel.Volume() cu in</p>
        <p>$@parcel.CostToShip() to ship</p>
      }
    </ul>
    <a href="/parcels/new">Add another parcel</a>
  </body>
</html>